asgiref~=3.8.1
certifi~=2024.7.4
cycler~=0.12.1
Django~=5.0.7
django-crispy-forms~=2.3
kiwisolver~=1.4.5
matplotlib~=3.9.1
numpy~=2.0.1
Pillow~=10.4.0
pyparsing~=3.1.2
python-dateutil~=2.9.0.post0
pytz~=2024.1
six~=1.16.0
sqlparse~=0.5.1
pip~=24.2
h5py~=3.11.0
lxml~=5.2.2
silx~=2.1.0
fabio~=2024.4.0
PyQt5~=5.15.11
packaging~=24.1
hdf5plugin~=4.4.0
djangorestframework~=3.15.2
contourpy~=1.2.1
fonttools~=4.53.1
PyJWT~=2.9.0
python-dotenv~=1.0.1
crispy_bootstrap5
gunicorn==20.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
whitenoise==6.6.0
django-redis==5.4.0