<div>
    <h2>Frage: {{ quiztask_answers.quiztask.question }}</h2>

    {% if task.current_turn == request.user %}
        <div>
            <form method="POST" hx-post="{% url 'multiplayer:render_quiztask_card' game_id=task.game.id task_id=task.id action='select_answer' %}">
                {% csrf_token %}
                {% for answer in quiztask_answers.answers %}
                    <div>
                        <input type="radio" name="selected_answer" value="{{ answer.id }}" id="answer{{ answer.id }}">
                        <label for="answer{{ answer.id }}">{{ answer.answer }}</label>
                    </div>
                {% endfor %}
                <button type="submit">Antwort senden</button>
            </form>
        </div>
    {% else %}
        <p>Warten auf den anderen Spieler...</p>
    {% endif %}
</div>