{# Context parameters: #}
{# sp_game: The game object. #}
{# quiztask_answers: An object containing the current quiz task and its associated answers. #}
{# selected_answer_id: The id of the currently selected answer.#}
{# result: The result of the current task. #}


<div id="card-body" class="card-body">
    <!-- Display result message if any -->
    <div id="result">
        {% if result %}
            {{ result.answer_message }}
        {% endif %}
    </div>

    <!-- Display the current question -->
    <div id="question">
        {{ quiztask_answers.quiztask.question }}
    </div>

    <!-- List of answers with explanations -->
    <div id="answers">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Auswahl</th>
                    <th scope="col">Antwort</th>
                    {% if result %}
                        <th scope="col">Erklärung</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>   
            {% for answer in quiztask_answers.answers %}
                <tr>
                    <!-- Indicates if the answer has been selected -->
                    <td>
                        {% if selected_answer_id == answer.id %} X {% endif %}
                    </td>

                    <!-- Clickable answer with callback to select it -->
                    <th scope="row">
                        <span hx-get="{% url 'sp_select_answer' sp_game.id quiztask_answers.quiztask.id answer.id %}" hx-target="#task-card">
                            {{ answer.answer }}
                        </span>
                    </th>
                </tr>

                <!-- Explanation for the answer if the result is available -->
                <tr>
                
                    <td>
                        {% if result %}
                            {{ answer.explanation }} 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody> 
        </table>
    </div>
</div>

<!-- Navigation buttons to go to the previous question, evaluate current question, view game result or go to the next question -->
<div id="game-navigation">
    <button class="btn btn-primary" hx-get="{% url 'previous_task' sp_game.id quiztask_answers.quiztask.id %}" hx-target="#task-card">Zurück</button>
    {% if selected_answer_id and not sp_game.completed%}
        <button class="btn btn-primary" hx-get="{% url 'evaluate_task' sp_game.id quiztask_answers.quiztask.id selected_answer_id %}" hx-target="#task-card">Auswertung</button>
    {% endif %}
    {% if sp_game.completed %}
        <button class="btn btn-primary" hx-get="{% url 'game_result' sp_game.id %}" hx-target="#task-card">Spielergebnis anzeigen</button>
    {% endif %}
    <button class="btn btn-primary" hx-get="{% url 'next_task' sp_game.id quiztask_answers.quiztask.id %}" hx-target="#task-card">Weiter</button>
</div>