{% extends 'base.html' %}
{% block title %}Einzelspieler - Neues Spiel{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Neues Spiel</h2>
    <form hx-post="{% url 'start_new_game' %}" hx-target="#game_area">
        <div class="mb-3">
            <label for="quizpool" class="form-label">Wähle einen Quizpool:</label>
            <select id="quizpool" name="quizpool" class="form-select" required>
                {% for pool in quizpools %}
                    <option value="{{ pool.id }}">{{ pool.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Spiel beginnen</button>
    </form>
    <div id="game_area"></div>
</div>
{% endblock %}