{# Context: {'sp_game': sp_game, 'question_answer_list': question_answer_list,}) #}

{% extends 'base.html' %}
{% block title %}Einzelspieler - Spiel{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Einzelspieler</h1>
        <div id="list_quiztasks" class="leftbox">
            <h2>{{ sp_game.name }}</h2>
                <ul class="list-group">
                    {% for task in questions_status_list %}
                        <li class="list-group-item">
                            <div>
                                {{ forloop.counter }} {{ task.question }} {{ task.correct_answered }}
                            </div>
                        </li>
                    {% empty %}
                        <p>Hier ist noch nichts zu sehen</p>
                    {% endfor %}
                </ul>
        </div>
        <div id='task-card' class="card mt-4">
            {% include 'singleplayer/game_card.html' %}
            
        </div>
</div>
{% endblock %}