<!-- Context: 
 - finished_games: list of finished SPGame objects
 -->

{%  block content %}  
    <div id="sp_history_content" class="container mt-5">
        <h1>Einzelspieler - Historie</h1>
        <div id="list_quizpools" class="leftbox">
            <h2>Spiel</h2>
            <ul class="list-group">
                {% for game in finished_games %}  <!-- Iterate over each finished game -->
                    <li class="list-group-item">  
                        <div>
                            <!-- Make AJAX request when the game name is clicked -->
                            <!-- `game.id` is the id of the current game -->
                            <span hx-get="{% url 'show_game_content' game.id %}" hx-target="#sp_history_content">
                                {{ forloop.counter }} {{ game.name }} <!-- Show game's name and the id of the quiz pool it belongs to -->
                            </span>
                        </div>
                    </li>
                {% empty %}
                    <p>Hier ist noch nichts zu sehen</p>  
                {% endfor %}
            </ul>
        </div>
        <div id='task-card' class="card mt-4">
            {% include 'singleplayer/game_result_card.html' %}  <!-- Include the game result card template-->
        </div>
    </div>
{% endblock %}