{% extends "base.html" %}

{% block content %}
<h1>Warten auf zweiten Spieler...</h1>
<p>Spielername: {{ user.username }}</p>
<p>Fragenpool: {{ game.pool.name }}</p>

<div id="lobby-container" hx-get="{% url 'multiplayer:mp_lobby_content' game_id=game.id %}" hx-trigger="load, every 5s" hx-swap="outerHTML">
    <!-- Inhalt der Lobby wird hier dynamisch neu geladen -->
    <p>Spieler 1: {{ game.player1.username }}</p>
    <p>Spieler 2: {% if game.player2 %}{{ game.player2.username }}{% else %}Warten auf Spieler 2...{% endif %}</p>
</div>
<div id="question-container"
     {% if game.is_full %}
        hx-get="{% url 'multiplayer:render_game' game_id=game.id %}"
        hx-trigger="every 2s"
        hx-target="#question-container"
        hx-swap="outerHTML"
     {% endif %}>
</div>
{% endblock %}

