{% extends "base.html" %}

{% block content %}
<h1>Unvollendete Spiele</h1>
<div>
    {% if unfinished_games %}
        <ul>
            {% for game in unfinished_games %}
                <li>
                    <a href="{% url 'multiplayer:render_game' game_id=game.id %}">{{ game.name }}</a> 
                    (Spieler 1: {{ game.player1.username }}, Spieler 2: {{ game.player2.username }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Keine unvollendeten Spiele vorhanden.</p>
    {% endif %}
</div>
{% endblock %}
