<p>Frage: {{ current_task.task.question }}</p>

{% if current_task.current_turn == request.user %}
    <!-- Der aktuelle Spieler ist dran -->
    <form hx-post="{% url 'multiplayer:select_answer' game.id current_task.id %}">
        {% for answer in quiztask_answers %}
            <button type="submit" name="answer" value="{{ answer.id }}">{{ answer.text }}</button>
        {% endfor %}
    </form>
{% else %}
    <!-- Warten auf den anderen Spieler -->
    <p>Warten auf den anderen Spieler...</p>
{% endif %}
